{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}
{% block navbar %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">Facilito</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.register') }}">Registrar</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-0">

                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block container %}
<div class="col-sm-6 offset-3">
    <!-- Login form -->
    <h3>Login</h3>
    <form class="form" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
            {{ render_field(form.username, class='form-control', placeholder='Nombre de usuario') }}
        </div>
        <div class="form-group">
            {{ render_field(form.password, class='form-control', placeholder='Contraseña') }}
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Login" />
    </form>
</div>
{% endblock %}