{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}


{% block container %}
<div class="col-sm-6 offset-3">
    <!-- Login form -->
    <h3>Registro</h3>
    <form class="form" method="POST">
        {{ render_field(form.honeypot) }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
            {{ render_field(form.username, class='form-control', placeholder='Nombre de usuario') }}
        </div>
        <div class="form-group">
            {{ render_field(form.email, class='form-control', placeholder='e-mail') }}
        </div>
        <div class="form-group">
            {{ render_field(form.password, class='form-control', placeholder='Contraseña') }}
        </div>
        <div class="form-group">
            {{ render_field(form.confirm_password, class='form-control', placeholder='Repite Contraseña') }}
        </div>
        <div class="form-group">

            <div class="form-check text-muted">
                {{ form.accept(class="form-check-input")}}
                <label for="accept" class="form-check-label ">Acepto terminos y condiciones</label>
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Registrar" />
    </form>
</div>
{% endblock %}