{% extends 'bootstrap/base.html' %}

{% block title %}
Error
{% endblock %}

{% block navbar %}

{% endblock %}
{% block content %}
<section class="main mt-5"> 
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2> Error 404, Página no encontrada </h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}

