{% extends './layout.html' %}


{% block navbar %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">Facilito</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_authenticated %}
                    <a class="nav-link" href="#">{{ current_user.username }}</a>
                    {% else %}
                    <a class="nav-link" href="#">Inicio</a>
                    {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.tasks') }}">Tareas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.new_task') }}">Nueva Tarea</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.logout') }}">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
{% endblock %}


{% block container %}
<div class="col-sm-12 text-center">
    <!-- Login form -->
    <h3>Tareas</h3>
    <table class="table">
        <thead>
            <th>Titulo</th>
            <th>Descripción</th>
            <th></th>
        </thead>
        <tbody>
            {% if tasks %}
                {% for task in tasks %}
                <tr>
                    <td>
                        <a href="{{ url_for('.show_task', task_id=task.id) }}">
                            {{ task.title }}
                        </a>
                    </td>
                    <td>{{ task.little_description }}</td>
                    <td>
                        <a href="{{ url_for('.edit_task', task_id=task.id) }}" class="btn btn-primary">Editar</a>
                        <a href="{{ url_for('.delete_task', task_id=task.id) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <ul class="pagination offset-3">
        {% if pagination.has_prev%}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('.tasks', page=page-1) }}">Anterior</a>
            </li>
        {% endif %}
        {% if pagination.has_next%}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('.tasks', page=page+1) }}">Siguiente</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
