{% extends './layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block navbar %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">Facilito</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_authenticated %}
                    <a class="nav-link" href="#">{{ current_user.username }}</a>
                    {% else %}
                    <a class="nav-link" href="#">Inicio</a>
                    {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.tasks') }}">Tareas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.new_task') }}">Nueva Tarea</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.logout') }}">Logout</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block container %}
<div class="col-sm-6 offset-3">
    <!-- Login form -->
    <h3>Registra nueva tarea</h3>
    <form class="form" method="POST">
        {{ render_field(form.honeypot) }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
            {{ render_field(form.title, class='form-control', placeholder='Escribe Nueva Tarea') }}
        </div>
        <div class="form-group">
            {{ render_field(form.description, class='form-control', placeholder='Descripción Tarea') }}
        </div>
        
        <input type="submit" class="btn btn-primary btn-block" value="Registrar" />
    </form>
</div>
{% endblock %}