{% extends 'layout.html' %}

{% block container %}
<div class="col-sm-6 offset-3">
    <h1>Hola mundo</h1>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}