{% extends 'bootstrap/base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">Facilito</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    {% if current_user.is_authenticated %}
                    <a class="nav-link" href="#">{{ current_user.name }}</a>
                    {% else %}
                    <a class="nav-link" href="#">Inicio</a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.register') }}">Registrar</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.tasks') }}">Tareas</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.login') }}">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('.logout') }}">Logout</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<section class="main_base mt-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                    <div class="alert alert-danger " role="danger"> {{ message }}</div>
                    {% else %}
                    <div class="alert alert-success " role="alert"> {{ message }}</div>
                    {% endif %}
                {% endfor %}
                {% endif %}
                {%endwith%}
            </div>
            {% block container %}
            {% endblock %}
        </div>
    </div>
</section>
{% endblock %}